firebase_apiKey=AIzaSyDo_orqqjEFeOhUQqR5S3GYnjwsHx7p-dA
firebase_authDomain=cwnfts-621c6.firebaseapp.com
firebase_databaseURL=https://cwnfts-621c6-default-rtdb.firebaseio.com
firebase_projectId=cwnfts-621c6
firebase_storageBucket=cwnfts-621c6.appspot.com
firebase_messagingSenderId=995847177992
firebase_appId=1:995847177992:web:1cedcb94e729dd11444ebd


INFURA_API_KEY=2VYDLKPuRo9L9lGkcgqk5rMfIhN
INFURA_API_KEY_SECRET=da77495670d4859099f5761c64fbf12a